{% extends "demo/base.html" %}
{% block content %}
<div class="container bg-light shadow">
  <h1>Comm platform - proof of concept</h1>
  <p>This is a proof of concept for a multi-lingual communications platform. The goal is to demonstrate that automated machine translation is technically feasible... for translating short texts, in real time, between any two languages.
  </p>
  <p>For <a href="https://www.mukwegefoundation.org/sema/">SEMA</a>... from Hanna, with love.
  </p>
  <br/>
  <p/>
</div>
{% endblock %}
